



<% if current_user %>

	<h2>Previous Grad Assessments</h2><br/>

	<div class="row">
	  <div class="large-12 columns"> 
	    <div class="row">
	      <div class="large-6 columns">
					<%= form_tag search_path do %>
						<div class="panel">
							<p>Search for a Graduate previously assessed:</p>
							<div class="row collapse">
								<%= text_field_tag 'search' %>
								<%= submit_tag 'Search', class: "postfix button expand" %>
							</div>
						</div>
					<% end %>
				</div>

				
			</div>
		</div>

		<div class="large-12 columns"> 
			<div class="row">
				<div class="large-6 columns">
					<div class="row">
			  <div class="small-2 large-4 columns"><%= link_to 'Download to Excel', '/students.csv', class: "button" %><br/></div>
			  <div class="small-4 large-4 columns"> </div>
			  <div class="small-6 large-4 columns"><%= link_to 'Assess a New Graduate', new_student_path, class: "button" %><br/></div>

			</div>
		</div>
	</div>
			
			<br/><br/>
			<%= render 'student_list' %>
			
		</div>
	</div>

<% else %>

	<h1>Previous Graduate Assessment Examples</h1>	
	<br/>
	<div class="row">

    <div class="large-12 columns"> 
      <div class="panel">
        
          <h4>Search, view and export all of your Grad Assessments in one simple list.    <%= link_to 'Create a free account', new_user_registration_path, class: "button success radius" %></h4>
 
      </div>
    </div>


    <div class="large-12 columns"> 
    	<fieldset>
  			<legend><h3 class="hide-for-small">Example Assessment List</h3></legend>
          <%= image_tag "previous-assessments.png" %><br>
      </fieldset>    
		</div>

		<div class="hide-for-small">
	    <div class="large-12 columns">
	      
	      	<div class="row">
	          <div class="small-3 small-centered columns">
	            <h5>Sign Up</h5>
	            <h6 class="subheader">Create a new account and start assessing and recording graduate observations today.</h6>
	            <%= link_to 'Create a free account', new_user_registration_path, class: "button success radius" %>
	          </div>
	        </div><br/><br/>
	    </div>
  	</div>


  </div>
</div>


<% end %>
