<h1>Student assessment details for <%= @student.first_name %> <%= @student.last_name %></h1>


<table class="responsive">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Assessment Date</th>
      <th>Gender</th>
      <th>Business Unit</th>
      <th>Score</th>
      <th> </th>
      <th> </th>



    </tr>
  </thead>
  <tbody>
	    <tr>
	      <td><%= @student.first_name %></td>
	      <td><%= @student.last_name %></td>
	      <td><%= @student.assessment_date %></td>
	      <td><%= @student.gender %></td>
	      <td><%= @student.business_unit %></td>
	      <td><%= @student.average_score%></td>
	      <td><%= link_to 'Edit', edit_student_path(@student) %></td>
	      <td><%= link_to 'Delete', student_path(@student), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	    </tr>
  </tbody>
</table>


<%= form_for @student do |f| %>

<br/>
<fieldset>
	<legend><h3>Activity 1: Group Discussion</h3></legend>
	<h4>This activity shows the students ability to discuss topics in a group setting.</h4><br/>
	<div class="large-6 columns">
		<table class="responsive">
			<tbody>
				<tr>
					<th>Observations about <%= @student.first_name %></th>
				</tr>
				<tr>
					<td><%= @student.observation %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="large-6 columns">
		<table class="responsive">
		  <tbody>
		    <tr>
		      <th>Capability</th>
		      <th style="text-align:center;">Score</th>
		    </tr>
		    <tr>
		      <td>The student speaks confidently with their peers.</td>
		      <td style="text-align:center;"><%= @student.score_1 %></td>

		    </tr>
		    <tr>
		      <td>The student can voice their own opinions.</td>
					<td style="text-align:center;"><%= @student.score_2 %></td>
		    </tr>
		    <tr>
		      <td>The student lets other speak in the group.</td>
		      <td style="text-align:center;"><%= @student.score_3 %></td>
		    </tr>
		    <tr>
		      <td>The student is willing to change their view on new information.</td>
		      <td style="text-align:center;"><%= @student.score_4 %></td>
		    </tr>
		    <tr>
		      <td>ACTIVITY SCORE</td>
		      <td style="text-align:center;"><%= @student.average_score %></td>
		    </tr>
		  </tbody>
		</table>
	</div>	
</fieldset>

<% end %>


<div class="row">
  <div class="small-2 large-4 columns"><%= link_to 'Edit Assessment', edit_student_path(@student), class: "button" %><br/>
  </div>
  <div class="small-4 large-4 columns"><%= link_to 'Assess Another Graduate', new_student_path, class: "button" %><br/>
  </div>
  <div class="small-6 large-4 columns"><%= link_to 'Show All Grads', students_path, class: "button" %><br/>
  </div>
</div>



