<div class="zurb-footer-bottom">
  <div class="row">

    <div class="eight columns">
      <div class="show-for-small">
        <ul>
          <% if current_user %>
            <li>
              <%= link_to "New Assessment", new_student_path, class: "button success radius" %>
            </li><br/>
            <li>
              <%= link_to "Search for a Grad Assessment", students_path, class: "button success radius" %>
            </li><br/>
          <% end %>
         
          <% if current_user %>
            <li>
              <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete', class: "button success radius" %>
            </li><br/>
          <% else %>
            <li>
              <%= link_to "Sign In", new_user_session_path, class: "button success radius" %>
            </li><br/>
            <li>
              <%= link_to 'Sign Up', new_user_registration_path, class: "button success radius" %>
            </li><br/>
          <% end %>
        </ul>
      </div>  
    </div>

    <div class="eight columns">
        <a href="#" class="zurb-logo regular"></a>
        <ul class="zurb-links">
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Contact</a></li>
       </ul>
       <p class="copyright">© 2013 GradScore Pty Ltd. All rights reserved.</p>
    </div>
    <div class="four columns">
      <ul class="home-social">
          <li><a href="#" class="twitter"></a></li>
          <li><a href="#" class="facebook"></a></li>
          <li><a href="#" class="mail"></a></li>
        </ul>
     </div>               
  </div>
</div>


