<div class="container top-bar home-border">
    <div class="attached">
      <div class="name" onclick="void(0);">
        <%= link_to "GradScore", root_path %>
      </div>

      <ul class="right">
        <li>
          <%= link_to "Previous Assessments", students_path %>
        </li>
        <li>
          <%= link_to "Search for a Grad Assessment", students_path %>
        </li>
        <li>
          <%= link_to "Sign Out", root_path %>
        </li>
        <li class="download">
          <%= link_to 'New Assessment', new_student_path, class: "small blue nice button src-download" %>
        </li>

      </ul>
    </div>
  </div>






