<!DOCTYPE html>
<html>
<head>
  <title>Gradscore | All-in-one graduate assessment tool</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "vendor/custom.modernizr", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="row">
		<%= yield %>
	</div><br/>
	<%= render 'layouts/footer' %>
</body>
</html>